#preview{
  $border-color: #666666;

  .loading{
    color: $border-color;
    font-size: 40px;
    text-align: center;

    .loading-text{
      font-size: 20px;
    }
  }

  .title{
    text-align: center;
  }

  .list{
    list-style-type: none;
    padding-left: 0;

    .question{
      padding: 5px 0 100px 0;

      &+.question{
        border-top: 1px solid $border-color;
      }
    }
  }
}