#preview{
  $border-color: #666666;

  .title{
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .list{
    list-style-type: none;
    padding-left: 0;

    li{
      padding: 15px;

      &+li{
        border-top: 1px solid $border-color;
      }
    }
  }
}