#submissions{

  $bg-color: #f7f7f7;
  $btn-bg-color: #1ca8d5;
  $border-color: #666666;

  h3.title{
    text-align: center;
  }

  .submission-labels{
    font-weight: bold;

    .label-quiz{
      float: left;
    }
    .label-user{
      float: right;
    }
  }

  ul.list{
    clear: both;
    list-style: none;
    margin-top: 0;
    padding-left: 0;

    li{
      padding: 10px 0px;

      a{
        background-color: $btn-bg-color;
        display: inline-block;
        font-size: 10px;
        margin: 0 5px 0 0;
        padding: 3px 15px;
        @include removeLinkStyle($bg-color);
      }

      div.description{
        span.quiz-title{
          display: inline-block;
          overflow: hidden;
          text-overflow: ellipsis;
          width: 75%;
        }
  
        span.quiz-taker{
          display: inline-block;
          text-align: right;
          width: 25%;
          
          &.guest{
            color: #777777;
            font-style: italic;
          }
        }
      }

      &+li{
        border-top: 1px solid $border-color;
      }
    }
  }

  ul.pagination{
    list-style: none;
    padding-left: 0px;
    text-align: center;

    li{
      border: 1px solid $btn-bg-color;
      color: $border-color;
      cursor: pointer;
      display: inline-block;
      padding: 5px;

      &.current-page{
        background-color: $btn-bg-color;
        color: $bg-color;
        cursor: default;
      }
    }
  }
}