#submissions{
  $bg-color: #f7f7f7;
  $btn-bg-color: #1ca8d5;
  $border-color: #666666;
  $btn-bg-color2: #5ac757;

  .title{
    text-align: center;
  }

  .sub-menu{
    text-align: center;

    a{
      background-color: $btn-bg-color2;
      display: inline-block;
      font-size: 14px;
      margin: 0 5px;
      padding: 5px 10px;
      @include removeLinkStyle($bg-color);
    }
  }

  .submission-labels{
    font-weight: bold;

    .label-quiz{
      float: left;
    }
    .label-user{
      float: right;
    }
  }

  .list{
    clear: both;
    list-style: none;
    margin-top: 0;
    padding-left: 0;

    li{
      padding: 10px 0px;

      a{
        background-color: $btn-bg-color;
        display: inline-block;
        font-size: 10px;
        margin: 0 5px 0 0;
        padding: 3px 15px;
        @include removeLinkStyle($bg-color);
      }

      .description{
        .quiz-title{
          display: inline-block;
          overflow: hidden;
          text-overflow: ellipsis;
          width: 75%;
        }
  
        .quiz-taker{
          display: inline-block;
          text-align: right;
          width: 25%;
          
          &.guest{
            color: #aaaaaa;
            font-style: italic;
          }
        }
      }

      &+li{
        border-top: 1px solid $border-color;
      }
    }
  }

  .pagination{
    list-style: none;
    padding-left: 0px;
    text-align: center;

    button{
      background: none;
      border: none;
      color: $border-color;
      cursor: pointer;
      font-size: 20px;
      outline: none;

      &[disabled]{
        color: #bbbbbb;
        cursor: default;
      }
    }
  }
}