#quizzes{
  $color: #333333;
  $bg-color: #f7f7f7;
  $border-color: #666666;
  $pagination-color: #1ca8d5;

  .list{
    list-style: none;
    padding-left: 0px;

    li{
      padding: 10px 0px;

      a{
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 80%;
        @include removeLinkStyle($color);
      }

      span{
        display: inline-block;
        width: 20%;
      }
      &+li{
        border-top: 1px solid $border-color;
      }
    }
  }

  .pagination{
    list-style: none;
    padding-left: 0px;
    text-align: center;

    li{
      border: 1px solid $pagination-color;
      color: $border-color;
      cursor: pointer;
      display: inline-block;
      padding: 5px;

      &.current-page{
        background-color: $pagination-color;
        color: $bg-color;
        cursor: default;
      }
    }
  }
}

