#quizzes{
  $color: #333333;
  $bg-color: #f7f7f7;
  $border-color: #666666;
  $btn-bg-color: #1ca8d5;
  $pagination-color: #1ca8d5;

  .loading{
    color: $border-color;
    font-size: 40px;
    text-align: center;

    .loading-text{
      font-size: 20px;
    }
  }

  .title{
    text-align: center;
  }

  .list{
    list-style: none;
    height: 520px;
    margin-top: 0;
    padding-left: 0;

    li{
      padding: 10px 0px;

      .description{
        .quiz-title{
          display: inline-block;
          overflow: hidden;
          text-overflow: ellipsis;
          width: 80%;
        }
  
        .quiz-size{
          display: inline-block;
          width: 20%;
        }
      }
      
      .links a{
        background-color: $btn-bg-color;
        display: inline-block;
        font-size: 10px;
        margin: 0 5px 0 0;
        padding: 3px 15px;
        @include removeLinkStyle($bg-color);
      }

      &+li{
        border-top: 1px solid $border-color;
      }
    }
  }

  .pagination{
    list-style: none;
    padding-left: 0px;
    text-align: center;

    li{
      border: 1px solid $pagination-color;
      color: $border-color;
      cursor: pointer;
      display: inline-block;
      padding: 5px;

      &.current-page{
        background-color: $pagination-color;
        color: $bg-color;
        cursor: default;
      }
    }
  }
}

