@import "mixins";
@import "components/partials/header";
@import "components/views/home";

body{
  $bg-color: #abcdef;

  background-color: $bg-color;
  box-sizing: border-box;
  margin: 0 0;
  font-family: Verdana, Geneva, sans-serif;
}
