#signup-page{
  $input-border-color: #bcbcbc;
  $btn-bg-color: #1ca8d5;

  .panel{
    min-width: 320px;
  }

  h1{
    text-align: center;
  }

  .signup-form{
    margin: 0 auto;
    max-width: 700px;
    min-width: 300px;
    width: 50%;

    i{
      margin: 0 5px;
    }
    input{
      border: 1px solid $input-border-color;
      margin-bottom: 10px;
      padding: 7px;
      width: 100%;
    }
    button[type="submit"]{
      background-color: $btn-bg-color;
      border: none;
      color: #ffffff;
      cursor: pointer;
      padding: 5px;
    }
    .error{
      color: red;
    }
  }

  .has-account{
    font-size: 10px;
    text-align: center;
  }
}