#login-page{
  $input-border-color: #bcbcbc;
  $btn-bg-color: #1ca8d5;

  .panel{
    width: 500px;
  }

  h1{
    text-align: center;
  }

  .login-form{
    padding: 10px;

    i{
      margin: 0 5px;
    }

    input{
      border: 1px solid $input-border-color;
      margin-bottom: 10px;
      padding: 7px;
      width: 100%;
    }
    button[type="submit"]{
      background-color: $btn-bg-color;
      border: none;
      color: #ffffff;
      cursor: pointer;
      padding: 5px;
    }
    .error{
      color: red;
    }
  }
  
  .no-account{
    font-size: 10px;
    text-align: center;
  }
}