#quiz-creation{
  $border-color: #b0b0b0;
  $btn-font-color: #ffffff;
  $btn-bg-color: #337ab7;
  $btn-submit-bg-color: #5cb85c;
  $input-border-color: #b0b0b0;
  $list-bg-color: #ffffff;

  .create-question{
    h4{
      margin-bottom: 0px;
    }
    textarea{
      border: 1px solid $input-border-color;
      height: 100px;
      margin-bottom: 10px;
      outline: none;
      resize: none;
      width: 100%;
    }
    button{
      cursor: pointer;
      background-color: $btn-bg-color;
      border: none;
      color: $btn-font-color;
      outline: none;
      padding: 7px 20px;

      &[type="submit"]{
        background-color: $btn-submit-bg-color;
        color: $btn-font-color;
        float: right;

        &.disabled{
          opacity: 0.7;
          cursor: default;
        }
      }
    }
  }

  .create-title{
    h3{
      margin-top: 0px;
      margin-bottom: 0px;
    }
    input{
      border: 1px solid $input-border-color;
      outline: none;
      padding: 5px 0px 5px 5px;
      width: 100%;
    }
  }

  .questions{
    h3{
      border-bottom: 1px solid $border-color;
      margin-bottom: 0px;
    }
    .has-questions{
      list-style: none;
      padding-left: 5px;

      li{
        overflow: hidden;
        padding: 5px;
        text-overflow: ellipsis;

        &:nth-of-type(even){
          background-color: $list-bg-color;
        }
      }
    }
    .has-no-questions{
      padding-top: 10px;
      text-align: center;

      .quiz-created{
        color: green;
      }
    }
  }
}
