@import "stylesheets/mixins";
@import "components/partials/Header/Header";
@import "components/views/Home/Home";
@import "components/views/QuizCreation/QuizCreation";
@import "components/views/Quizzes/Quizzes";

body{
  $bg-color: #e0e0e0;

  background-color: $bg-color;
  box-sizing: border-box;
  margin: 0 0;
  font-family: Verdana, Geneva, sans-serif;
}
