#header{
  $bg-color: #333333;
  $bg-color2: #444444;
  $color: #dddddd;

  background-color: $bg-color;
  box-shadow: 0px 1px 3px 0px #777777;
  padding: 10px 10px;

  .title{
    display: inline-block;
    margin: 10px 0;

    a{
      @include removeLinkStyle($color);
    }
  }

  .navigation{
    float: right;
    margin: 10px 0;
    padding-left: 0;

    li{
      color: $color;
      display: inline-block;
      margin: 0 3px;

      &.clickable:hover{
        cursor: pointer;
        border-bottom: 2px solid $color;
      }

      &.hoverable:hover{
        position: relative;

        .submenu{
          display: block;
        }
      }

      .submenu{
        background-color: $bg-color2;
        cursor: pointer;
        display: none;
        padding: 5px;
        position: absolute;
        width: 100%;
      }

      a{
        @include removeLinkStyle($color);
      }
    }
  }
}
