#header{
  $bg-color: #333333;
  $color: #dddddd;

  background-color: $bg-color;
  box-shadow: 0px 1px 3px 0px #777777;
  min-width: 500px;
  padding: 10px 20px;

  .title{
    display: inline-block;
    margin: 0 0;

    a{
      @include removeLinkStyle($color);
    }
  }

  .navigation{
    margin-bottom: 0;
    float: right;

    li{
      color: $color;
      display: inline-block;
      margin: 0 5px;

      &.clickable{
        cursor: pointer;
        
        &:hover{
          border-bottom: 2px solid $color;
        }
      }

      a{
        @include removeLinkStyle($color);
      }
    }
  }
}
