#header{
  $bg-color: #333333;
  $hovered-border-color: #dddddd;
  $color: #dddddd;

  background-color: $bg-color;
  box-shadow: 0px 1px 3px 0px #777777;
  padding: 10px 20px;

  h1.title{
    display: inline-block;
    margin: 0 0;

    >a{
      @include removeLinkStyle($color);
    }
  }

  ul.navigation{
    display: inline-block;
    margin-bottom: 0;
    float: right;

    >li{
      cursor: pointer;
      display: inline-block;
      margin: 0 5px;

      &:hover{
        border-bottom: 2px solid $hovered-border-color;
      }

      >a{
        @include removeLinkStyle($color);
      }
    }
  }
}
